{% extends '../layouts/index.html.twig' %}
{% block page %}
  <section class="justify-center flex-1 mx-auto p-8">
    <div class="max-w-m rounded overflow-hidden shadow-lg px-6 py-4">
      <h1>
          Home page
      </h1>
    </div>
  </section>
{% endblock %}
