.font-24 {
  font-size: 20px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-lato {
  font-family: Lato, sans-serif;
}

.rounded-x-100 {
  border-radius: 100px;
}

.font-primary {
  color: #2D3855
}

.rounded-20 {
  border-radius: 20px;
}
