<div class="message my-3">
  <div class="content flex">
    <div class="avatar">
      <img src="../../../src/images/avatar-msg.png" alt="">
    </div>
    <p class="ml-2 flex-1">
      <span class="name font-lato font-14">Trisha Louis:</span>
      <span class="font-light font-lato font-14">Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua.</span>
    </p>
  </div>
</div>
